.header {
  background-color: var(--primary);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;
}

.logo {
  color: var(--dark);
  font-size: 2.5rem;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav a {
  text-decoration: none;
  color: var(--dark);
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.nav a:hover {
  color: var(--secondary);
}

.theme-btn {
  background: transparent;
  border: 2px solid var(--dark);
  color: var(--dark);
  font-size: 1.2rem;
  font-weight: bold;
  height: 45px;
  padding: 0 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3;
}

.theme-btn:hover {
  background-color: var(--dark);
  color: var(--light);
}
